@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font);
}

.container {
  /* background-color: #eee; */
  background: rgb(137, 212, 127);
  background: linear-gradient(
    0deg,
    rgba(137, 212, 127, 1) 22%,
    rgba(198, 163, 114, 1) 45%,
    rgba(217, 214, 143, 1) 73%
  );
  text-align: center;
  height: 100%;
  min-height: 100vh;
}
